header {
  text-align: center;
  font-size: 30px;
  color: #0f6b13;
}

main, html {
  margin: 0;
  padding: 0;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #004800;
}

.container {
  text-align: center;
  color: #0f6b13;
}

.button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 24px;
  border: none;
  background-color: #08590a;
  cursor: pointer;
  border-radius: 5px;
}

.button:hover {
  background-color: #1e8d26;
}

